
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 overflow-x: hidden;
}
.lista {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.listElement {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 5px grey;
  display: flex;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.listElement:hover {
  box-shadow: 0 0 25px #ccc;
}
.bookTitle {
  text-align: center;
  font-size: 1.2em;

  overflow: hidden;
  word-wrap: break-word;
}
.authorsPara {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-style: italic;
 width: 100%;
}
.cerca label {
  margin-right: 10px;
  font-weight: bold;
}
.cerca input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 10px;

}
.descriptionPara:hover {
  box-shadow: 0 0 5px #a8a7a7;
  background-color: #cdc1c1;
  
}
.authorsPara {
  font-style: italic;
  white-space: nowrap;
  overflow-x: hidden;
}
.btn {
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.btn-info {
  background-color: #17a2b8;
  color: #fff;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
}
.btn-info:hover {
  background-color: #138496;
}
.cerca {
  margin-top: 20px;
}
.bySubject {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.byTitle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
.authorsPara {
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
  display: block;
}
.bookCover 
{
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 372.5px;
  width: 249.5px;

}
.bookCover:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}
.descriptionButton {
 margin-top: 10px;
}
.descriptionPara {
  position: absolute;
  left: 50%;
  top: 40%;
  bottom: 5%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  color: black;
  font-weight: 600;
  padding: 10px;
  z-index: 999;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 5px;
}
a:link {
  text-decoration: none;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 48px;
  background-image: linear-gradient(to right, #ff00a0, #00ffd8);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}